# Maven
/target/

# Eclipse/IntelliJ
.classpath
.project
.settings/
*.iml
.idea/

# VS Code
.vscode/

# Logs and OS files
*.log
*.tmp
.DS_Store
Thumbs.db

# Environment files
.env

# Java
*.class

# Gradle/Maven wrapper
.mvn/

# Others
node_modules/
build/
coverage/

# Karate reports (under target)
/target/karate-reports/
